<%= form_for(@order_line, html: {class: "form-horizontal"}) do |f| %>
<%= f.hidden_field :order_id %>
<% if @order_line.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@order_line.errors.count, "error") %> prohibited this order_line from being saved:</h2>
	<ul>
		<% @order_line.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<div class="form-label col-sm-2">
		<%= f.label :product_id %>
	</div>
	<div class="col-sm-2">
		<%= f.collection_select(:product_id, Product.all, :id, :code, {prompt: false}, class: "form-control") %>
	</div>
</div>
<div class="form-group">
	<div class="form-label col-sm-2">
		<%= f.label :colour_id %>
	</div>
	<div class="col-sm-2">
		<%= f.collection_select(:colour_id, Colour.all.order("name"), :id, :name, {prompt: "Select colour"}, class: "form-control") %>
	</div>
</div>
<div class="form-group">
	<div class="form-label col-sm-2">
		<%= f.label :quantity %>
	</div>
	<div class="col-sm-2">
		<%= f.number_field :quantity,min: 1, max: 100000, step: 1, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<div class="form-label col-sm-2">
		<%= f.label :price %>
	</div>
	<div class="col-sm-2">
		<%= f.number_field :price,min: 100, max: 100000, step: 10, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-2 col-sm-offset-2">
		<%= f.submit "Submit", class: "btn btn-success" %>
	</div>
</div>
<% end %>
