<%= form_for(@colour, html: {class: "form-horizontal"}) do |f| %>
  <% if @colour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colour.errors.count, "error") %> prohibited this colour from being saved:</h2>

      <ul>
      <% @colour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
		<div class="col-sm-2 control-label">
    <%= f.label :name %><br>
		</div>
		<div class="col-sm-2">
    <%= f.text_field :name, class: "form-control" %>
		</div>
  </div>
  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-2">
    <%= f.submit "Submit", class: "btn btn-default" %>
		</div>
  </div>
<% end %>
