<h1 class="page-header">Reports</h1>
<div class="panel panel-info">
	<!-- Default panel contents -->
	<div class="panel-heading">Summary by customer</div>
	<div class="panel-body">
		<p class="text-info">The figures are orders til-date</p>
	</div>
	<!-- Table -->
	<table class="table table-condensed">
		<tr>
			<th>Customer</th>
			<th class="text-right">Total</th>
		</tr>
		<% @sumbycustomer.each do |customer| %>
		<tr>
			<td><%= customer.customer.store %></td>
			<td class="text-right"><%= customer.total %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="panel panel-success">
	<!-- Default panel contents -->
	<div class="panel-heading">Summary by city</div>
	<div class="panel-body">
		<p class="text-info">The figures are orders til-date</p>
	</div>
	<!-- Table -->
	<table class="table table-condensed">
		<tr>
			<th>City</th>
			<th class="text-right">Total</th>
		</tr>
		<% @sumbycity.each do |city| %>
		<tr>
			<td><%= city.city %></td>
			<td class="text-right"><%= city.total %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="panel panel-warning">
	<!-- Default panel contents -->
	<div class="panel-heading">Summary by Year-Month</div>
	<div class="panel-body">
		<p class="text-info">The figures are orders til-date</p>
	</div>
	<!-- Table -->
	<table class="table table-condensed">
		<tr>
			<th>Year-month</th>
			<th class="text-right">Total</th>
		</tr>
		<% @sumbytime.each do |yearmo| %>
		<tr>
			<td><%= yearmo.year_month %></td>
			<td class="text-right"><%= yearmo.total %></td>
		</tr>
		<% end %>
	</table>
</div>
